:root {
  --primary-color: #f2ea77;
  --secondary-color: #9ca653;
  --text-color: #d9d9d9;
  --extra-color: #e2f266;
  --background-color: #212426;
}

/* website: https://biesemansdavyweb.be/ */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: "Lexend", sans-serif;
  background: linear-gradient(90deg, var(--background-color), #212426de);
  max-width: 550px;
  margin: 0 auto;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    "n n n n n n"
    "a a a a a a";
  /* a = intro, n = nav */
}

/* about grid */
body.about {
  grid-template-areas:
    "n n n n n n"
    "a a a a a a";
}

body.projects {
  grid-template-rows: 10vh;
  grid-template-areas:
    "n n n n n n"
    "t t t t t t"
    "a a a a a a"
    "b b b b b b"
    "c c c c c c"
    "d d d d d d";
  /* a = proj1.. */
}

body.contact {
  grid-template-areas:
    "n n n n n n"
    ". c c c c .";
}

.curpage {
  color: var(--secondary-color);
}

/* nav */
nav{
  grid-area: n;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container{
  height: 80%;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

nav a{
  height: 90%;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  text-align: none;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: var(--background-color);
  background-color: var(--text-color);
}

nav a:hover{
  color: var(--secondary-color);
}

nav .cv-link{
  margin-left: auto;
}

nav svg{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}

.open-sidebar-button, .closed-sidebar-button{
  display: none;
}

@media(max-width: 700px){
  .links-container{
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      top: 0;
      left: -100%;
      /* z-index zodat het altijd boven de rest staat */
      z-index: 10;
      width: 12.5rem;
      height: auto;
      background-color: var(--background-color);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.5s ease-out;
  }

  nav a{
      box-sizing: border-box;
      height: auto;
      width: 90%;
      padding: 20px 30px;
      justify-content: flex-start;
  }


  .open-sidebar-button, .closed-sidebar-button{
      padding: 20px;
      display: block;
  }

  /* checked = boolean, ~ = sibling selector */
  /* if checked dan doe je dit in links-container */
  #sidebar-active:checked ~ .links-container{
      /* verplaatsen van sidebar van -100% naar 0 */
      left: 0;
  }
}
/* nav */

/* introduction */
.introduction {
  margin: auto;
  text-align: center;
  color: var(--text-color);
  grid-area: a;
}

.introduction h1 {
  font-size: 3em;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
}

.introduction p {
  font-size: 2em;
}

.introduction img,
.introduction-about img,
.introduction-werkplek img {
  object-fit: cover; /* cover = maintain original aspect ratio (fill container without distorting the img) */
  border-radius: 50%;
  width: 11em;
  height: 11em;
}

.introduction .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.introduction .icons .fa {
  color: var(--secondary-color);
  margin-top: 0.5em;
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.introduction .icons .fa:hover {
  color: var(--primary-color);
}
/* introduction */

/* introduction about*/
.introduction-about {
  margin: auto;
  max-width: 75%;
  text-align: center;
  color: var(--text-color);
  grid-area: a;
}

.introduction-about h1 {
  font-size: 3em;
  color: var(--primary-color);
}

.introduction-about p {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.highlight,
.highlight a {
  color: var(--extra-color);
}

/* introduction about*/

/* about boek-game */
.boek,
.game {
  display: none;
}
/* about boek-game */

/* projecten */
.projectentitel {
  grid-area: t;
  margin: auto;
  color: var(--primary-color);
  font-size: 2.5em;
  margin-bottom: 0.75em;
}

.project1 img,
.project2 img,
.project3 img,
.project4 img {
  object-fit: cover;
  height: 10em;
  width: 10em;
}

.project1,
.project2,
.project3,
.project4 {
  /* vaste height en width voor uitlijning */
  display: flex;
  align-items: center;
  background-color: #212426de;
  margin: 1em 2em;
  padding: 1em;
  border: solid 1px var(--extra-color);
  border-radius: 1rem;
}

.project1 p,
.project2 p,
.project3 p,
.project4 p {
  font-size: 1em;
  margin-bottom: 0.75em;
  margin-left: 1em;
  color: var(--text-color);
}

.project1 a,
.project2 a,
.project3 a,
.project4 a {
  color: var(--secondary-color);
  font-style: italic;
  text-decoration: none;
}

.project1 {
  grid-area: a;
}
.project2 {
  grid-area: b;
}
.project3 {
  grid-area: c;
}
.project4 {
  grid-area: d;
}
/* projecten */

/* projecten apart */
body.projectapart{
  grid-template-rows: 10vh;
  grid-template-areas:
    "n n n n n n"
    "t t t t t t"
    ". p p p p ."
    ". h h h h ."
    ". l l l l ."
    ". i i i i .";
}

.projectlongtext{
  grid-area: p;
}

.learned{
  grid-area: h;
  color: var(--secondary-color);
}
.projectlearntext{
  grid-area: l;
}

.projectlongtext, .projectlearntext{
  font-size: 1.2em;
  color: var(--text-color);
}

.projectimgbig{
  display: flex;
  flex-direction: column-reverse;
  grid-area: i;
  margin-bottom: 2em;
}

.projectimgbig img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.projectimgbig figcaption{
  margin-bottom: 0.3em;
}

.projectimgbig a{
  color: var(--secondary-color);
  font-style: italic;
  text-decoration: underline;
  font-size: 1.2em;
  transition: all 0.3s ease 0s;
}

.projectimgbig a:hover{
  color: var(--primary-color);
}

/* projecten apart */

/* werkplekleren */
.introduction-werkplek {
  margin: auto;
  max-width: 50%;
  text-align: center;
  color: var(--text-color);
  grid-area: a;
}

.introduction-werkplek h1 {
  font-size: 3em;
  color: var(--primary-color);
}

/* werkplekleren */

/* contact */
.contact-form {
  grid-area: c;
  margin: auto;
  background-color: var(--background-color);
  padding: 3em;
  border-radius: 0.6em;
}

.contact-form .contacttitle {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 2.5em;
}

.contact-form label {
  color: var(--text-color);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
textarea {
  width: 100%;
  padding: 0.75em;
  border: none;
  border-radius: 0.25em;
  margin-top: 0.4em;
  margin-bottom: 1em;
}

textarea{
  height: 20em;
}

.contact-form input[type="submit"] {
  background-color: var(--extra-color);
  color: var(--background-color);
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact-form input[type="submit"]:hover {
  background-color: var(--primary-color);
}
/* contact */

/* continue-back */
.verder,
.terug {
  display: none;
}
/* continue-back */

@media screen and (min-width: 620px) {
  body {
    max-width: 900px;
  }

  .contact-form{
    margin: 3em 1em;
  }
  
  .verder,
  .terug {
    display: block;
  }

  .verder {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
  }

  .terug {
    position: fixed;
    bottom: 1.25rem;
    left: 1.25rem;
  }

  .verder button,
  .terug button {
    padding: 0.5rem 1.5rem;
    background-color: var(--text-color);
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 1.1em;
  }

  .verder button:hover,
  .terug button:hover {
    background-color: var(--extra-color);
    transition: all 0.3s ease 0s;
  }
}

@media screen and (min-width: 1000px) {
  body {
    max-width: 1150px;
  }

  .introduction h1, .introduction-about h1, .introduction-werkplek h1, .projectentitel{
    font-size: 4em;
  }

  body.about {
    grid-template-areas:
      "n n n n n n"
      "a a a a a a"
      ". b b g g .";
    /* a = intro, n = nav, b = boek, g = game */
  }
  .boek,
  .game {
    display: grid;
    margin: auto;
    margin-bottom: 1rem;
  }

  .boek h2,
  .game h2 {
    color: var(--text-color);
    text-align: center;
  }

  .boek {
    grid-area: b;
  }

  .game {
    grid-area: g;
  }

  .boek img,
  .game img {
    max-height: 25rem;
    border-radius: 0.25rem;
  }

  .project1,
  .project2,
  .project3,
  .project4 {
    display: flex;
    align-items: center;
    margin: 1em 7em;
  }

  .project1 img,
  .project2 img,
  .project3 img,
  .project4 img {
    height: 15em;
    width: 15em;
  }

  .project1 p,
  .project2 p,
  .project3 p,
  .project4 p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1400px;
  }

  textarea{
    height: 22em;
  }
}
